@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" id = "component_test">
    <h1 class="display-4">Welcome</h1>
    <button-counter1></button-counter1>
    <button-counter2></button-counter2>

</div>
<div class="text-center" >
 @Html.Partial("_ButtonCount3")
</div>
